@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('http://fonts.cdnfonts.com/css/montserrat');


@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
}

.loader {
  width: 100px;
  height: 100px;
  position: relative;
  perspective: 200px;
}
.loader div {
  position: absolute;
  top: 0;
  height: 68px;
  width: 68px;
  background: #000000;
  animation: flip 2s linear infinite;
  transform-origin: right bottom;

}
.loader div:nth-child(2) {
  animation-delay: 1s;
  opacity: 0.5;
}

@keyframes flip {
  0% { transform: rotateX(0) rotateY(0); }
  25% { transform: rotateX(0) rotateY(180deg); }
  50% { transform: rotateX(180deg) rotateY(180deg); }
  75% { transform: rotateX(180deg) rotateY(0deg); }
  100% { transform: rotateX(0) rotateY(0); }
}
.content{
  background-color: rgb(255, 255, 255);
  padding: 1em;
  box-shadow: 0 0 3px 2px gray;
  color: #000000;
  border-radius: 19px;
}
.Counter{
  width: 60.23%;
  background-color: rgb(255, 255, 255);
  padding: 2em;
  box-shadow: 0 0 3px 2px gray;
  color: #000000;
  border-radius: 19px;
}
.link{
  width: 30%;
  background-color: rgb(61, 9, 100);
  padding: 1em;
  box-shadow: 0 0 3px 2px gray;
  color: #000000;
  border-radius: 19px;
  margin-top: 20%;
}
.video{
  width: 55%;
  padding: 1em;
  box-shadow: 0 0 1px 1px gray;
  color: #000000;
  border-radius: 19px;
}
.home{
  width: 20%;
  padding: 1em;
  box-shadow: 0 0 1px 1px gray;
  background-color: black;
  color: #ffffff;
  border-radius: 19px;
  margin-top: 67px;
}


h1, h2{
  font-size: 30px;
}